//div(layout="column", flex)
	md-list(flex)
		md-list-item(ng-repeat="account in vm.accounts")
			.accounts(flex)
				md-list-item(ng-click="vm.toggleProjectsList($index)")
					md-button.md-icon-button(aria-label="Folder")
						md-icon(ng-if="!account.showProjects", md-font-icon="fa fa-folder-o")
						md-icon(ng-if="account.showProjects", md-font-icon="fa fa-folder-open-o")
					p {{account.name}}
				md-list.projects(ng-if="account.showProjects")
					md-list-item.md-1-line(ng-repeat="project in account.projects" ng-click="vm.goToProject(account.name, project.name)")
						md-icon(md-font-icon="fa fa-cube")
						p {{project.name}}
						md-button.md-accent(ng-click="vm.b4f(account.name, project.name)" ng-if="project.bif4FreeEnabled") B4F
			md-divider

md-grid-list(
	md-cols-gt-md="4"
	md-cols-md="3"
	md-cols="2"
	md-row-height="210px"
	md-gutter="10px")
	md-grid-tile(ng-repeat="project in vm.projects")
		.md-whiteframe-1dp.accountProjectContainer(
			flex
			layout-fill
			layout="column"
			layout-align="start"
			ng-click="vm.goToProject(project.account, project.name)")
			md-toolbar.md-primary
			.accountProjectInfo(flex)
				.accountProjectThumbnail(flex)
					img(ng-src="{{project.thumbnail}}" flex)
				.accountProjectText
					div
						p.accountProjectSubtitle {{project.name}}
					div(layout="row", layout-align="space-between")
						p.accountProjectTitle {{project.account}}
						div(layout="row", layout-align="center center")
							p 7
							md-icon(class="fa fa-circle-o", style="color:green")
							p 2
							md-icon(class="fa fa-circle-o", style="color:grey")
